<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      {% block script %}
      {% endblock %}

      {% block style %}
      {% endblock %}
    </head>
    <body>
      <nav>
        <ul>
        <div id="nav-links">
         <li><a href="{{ url_for('landing') }}">ReCrypto</a></li> &nbsp;
         <li><a href="{{ url_for('community') }}">Community</a></li> &nbsp;
         <li><a href="{{ url_for('earn') }}">Earn</a></li> &nbsp;
          {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('logout') }}">Logout</a></li> &nbsp;
          {% else %}
           <li><a href="{{ url_for('login') }}">Login</a></li> &nbsp;
           <li><a href="{{ url_for('register') }}">Register</a></li> &nbsp;
          {% endif %}
          </ul>
        </nav>


        {% block content %}
        {% endblock %}
<footer>
   <a href="#">Copyright &copy; 2020 ReCrypto</a>
  <a href="recrypto@gmail.com">recrypto@gmail.com</a>
               </footer>
<div id="spacer"></div>
</body>
</html>
