<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
      {% block script %}
      {% endblock %}

      {% block style %}
      {% endblock %}
    </head>
    <body>
      <nav>
        <div id="nav-links">
          <a href="{{ url_for('landing') }}">ReCrypto</a>
          <a href="{{ url_for('feed') }}">Feed</a>
          <a href="{{ url_for('earn') }}">Earn</a>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
          {% endif %}
        </div>
      </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
