{% extends "layout.html" %}

{% block style %}
  #accentbox {
    position: absolute;
    width: 15vmin;
    height: 15vmin;
    left: 15vw;
    top: 15vh;
    background: #EF6461;
  }
  #pageTitle {
    color: #EF6461;
  }
  #pageDescription {
    color: #E4B363;
  }
{% endblock style %}

{% block titles %}
<h1 id="pageTitle">Luke Weiler</h1>
<h2 id="pageDescription">A developer for the future</h2>
{% endblock titles %}

{% block content %}
  <div id="content">
    <p>Hi! I'm Luke, an aspiring computer programmer. I enjoy running, listening to music, and most importantly, programming! So far I have dabbled in a little bit of everything.</p>
    <p>Some of my skills are: </p>
    <ul>
      <li>Front-end web development</li>
      <li>Digital design</li>
      <li>Photo editing</li>
      <li>Python</li>
      <li>Javascript</li>
      <li>and Java</li>
    </ul>
    <p>I hope that you like what you see on my page! Fell free to contact me via the contact tab or at my email lukew25073@gmail.com!</p>
  </div>
{% endblock content %}
